<h1>Pictures</h1>

<%= image_tag "logo.png" %>

<h3>Profile Pic</h3>
<%= image_tag "ColorBlock-Small.png" %>

<h3>Lava Pic</h3>
<%= image_tag "lava.jpg" %>

<h3>Husky Pic</h3>
<%= image_tag "HuskyPuppy.jpg" %>